<p id="notice"><%= notice %></p>

<p>
  Color:        <%= @car.color %><br/>
  Year:         <%= @car.year %><br/>
  Mileage:      <%= @car.mileage %><br/>
  Description:  <%= @car.description %>
</p>

<%= link_to 'Back', cars_path %>
